</main>

<!-- FOOTER -->
<footer class="bg-[#232F3E] text-gray-300 p-6 text-center">

<p class="text-sm">© 2026 MiniTwitter</p>

<div class="space-x-6 mt-3">
<a href="#" class="hover:underline hover:text-white">About</a>
<a href="#" class="hover:underline hover:text-white">Help</a>
<a href="#" class="hover:underline hover:text-white">Privacy</a>
</div>

</footer>

</body>
</html>